

.App {
  background-image: url("./Images/18010.jpg");
  /*background-size: 100%;*/
  /*background-repeat: repeat-y;*/
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.Search{
  margin: auto;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top :30%
}

.Title{
  font-weight: bold;
}

.Input-home{
  border-radius: 30px;
  width: 40%;
  height: 60px;
  font-size:23px;
  padding-right: 50px;
}

.Input-home:focus{
  border-radius: 0px !important; 
  outline-color: yellow;
}

.Search-bar-result-container{
  overflow: hidden;

}
.Inline-bar-result{
  float: left;
  padding-left: 10%;
}

.Input-bar{
  width: 500px;
  font-size:23px;
}
