.Dash-container{
    height: 100%;

}
.top-container{
    height: 50%;
    width: 100%;
    display: flex;
}
.bottom-container{
    height: 100%;
    width: 100%;
    display: flex;
}

.each-container{
    width: 32%;
    height: 30%;
    margin: 0.5%;
    float: left;
}

.G-container{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    margin-bottom: 2%;
    padding: 2em;
    
}
.btn-primary-outline {
    background-color: transparent;
    border-color: transparent;
  }
  .break {
    flex-basis: 100%;
    height: 0;
  }

