.data-container{
width: 100%;
height: 100%;
}

.description-container{
    height: 15%;
    padding-left: 10%;
    padding-right: 10%;
}

.graphicData-container{
    height: 40%;
}
.table-container{
    height: 20%;
}
.searchData-container{
    height: 50%;
}

.gr-container{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    margin-bottom: 2%;
    padding: 2em;
    
}