.data-container{
width: 100%;
height: 100%;
}

.description-container{
    height: 15%;
    padding-left: 10%;
    padding-right: 10%;
}

.graphicData-container{
    height: 40%;
    display: flex;
}
.table-container{
    height: 50%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    padding: 2em;
    overflow: scroll;
    margin-bottom: 2%;
}
.searchData-container{
    height: 100%;
}

.gr-container{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    margin-bottom: 2%;
    padding: 2em;
    width: 48%;
    margin-right: 2%;
    float: left;
}
.form-container{
    padding: 2em;

}
.form-crd-container{
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.card-rta-continer{
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    position: flex;
    overflow: auto;
    
}
