.Principal-container{
    background-image: url("../Images/18010.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: scroll;
    position: fixed;
    overflow-x: hidden;
    
}
.partition{
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
}
.cuerpo-right{
    width: 100%;
    height: 100%;
    float: left;
}
.encabezado{
    height: 9.2%;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
    z-index:9000;
}
 .sidebar{
    z-index:9999;
 }

.cuerpo{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.content{
    padding: 1em;
    height: 100%;

}

.etiqueta{
    text-align: center;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #333; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

