.Result-container{
    height: 100%;
    width: 100%;
}
.Card-container{
    background-color: white;
    max-height: 1100px;     
    position:relative;
    width: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    padding: 2em;
    overflow-y: auto;
}

.Container{
    padding: 2em;
}

.Graphic-container{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    height: 30%;
    margin-bottom: 2%;
    padding: 2em;
    
}

.btn-search{
    align-items: center;
    color:white;
}

.labelError{
    color: red;
}